squishtest3DP.json
[
    {
        "id": "80bf0eea.5bb39",
        "type": "tab",
        "label": "Z axis",
        "disabled": false,
        "info": ""
    },
    {
        "id": "696245ab.45568c",
        "type": "tab",
        "label": "Load cell",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1e5ffd1.6f9ac03",
        "type": "tab",
        "label": "Indicators",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a273c16d.a6548",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#dd8dc4",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#dd8dc4",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#dd8dc4",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#efc8e2",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#dd8dc4",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "3D Printer Test",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2c4bee50.ad8412",
        "type": "serial-port",
        "z": "",
        "serialport": "COM5",
        "serialbaud": "250000",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "10000"
    },
    {
        "id": "cb9c6f66.54e12",
        "type": "ui_tab",
        "z": "",
        "name": "Squish test",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a516f7a8.528348",
        "type": "ui_group",
        "z": "",
        "name": "Movement",
        "tab": "cb9c6f66.54e12",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b441edb7.9f6b4",
        "type": "ui_group",
        "z": "",
        "name": "Instruments",
        "tab": "cb9c6f66.54e12",
        "order": 2,
        "disp": false,
        "width": "18",
        "collapse": false
    },
    {
        "id": "15af2513.f48cdb",
        "type": "serial-port",
        "z": "",
        "serialport": "COM7",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "bce2382.dc8b5c8",
        "type": "serial-port",
        "z": "",
        "serialport": "COM8",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "1000"
    },
    {
        "id": "2bc407fd.d550d8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a516f7a8.528348",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "244eb32e.d8f0ec",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a516f7a8.528348",
        "order": 12,
        "width": 6,
        "height": 1
    },
    {
        "id": "f7e377f0.dba658",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a516f7a8.528348",
        "order": 19,
        "width": 6,
        "height": 1
    },
    {
        "id": "5125c8d1.85d708",
        "type": "serial-port",
        "z": "",
        "serialport": "COM9",
        "serialbaud": "4800",
        "databits": "7",
        "parity": "even",
        "stopbits": "2",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\r",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "1000"
    },
    {
        "id": "c55bca37.de69a8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a516f7a8.528348",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "5de403de.45ac5c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a516f7a8.528348",
        "order": 12,
        "width": 6,
        "height": 1
    },
    {
        "id": "65e387fb.522128",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a516f7a8.528348",
        "order": 19,
        "width": 6,
        "height": 1
    },
    {
        "id": "3aa3ed38.291fb2",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a516f7a8.528348",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "d2475290.545ad",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a516f7a8.528348",
        "order": 12,
        "width": 6,
        "height": 1
    },
    {
        "id": "65f4691a.bb5188",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a516f7a8.528348",
        "order": 19,
        "width": 6,
        "height": 1
    },
    {
        "id": "ae610c33.f677e",
        "type": "serial request",
        "z": "80bf0eea.5bb39",
        "name": "3D Printer",
        "serial": "2c4bee50.ad8412",
        "x": 240,
        "y": 100,
        "wires": [
            [
                "3e29ddec.3b9062",
                "2a1b1f65.dd4ec",
                "247c625f.5f5eee",
                "5af5380d.6cce88"
            ]
        ]
    },
    {
        "id": "3e29ddec.3b9062",
        "type": "debug",
        "z": "80bf0eea.5bb39",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 60,
        "wires": []
    },
    {
        "id": "794a6fd2.8ca1d",
        "type": "link in",
        "z": "80bf0eea.5bb39",
        "name": "To Printer",
        "links": [
            "92ef9e46.93b4a",
            "87bb3967.65e638",
            "41d4c506.c4183c",
            "36e6968.ce96a6a",
            "1e765a46.a8ecc6",
            "fef87a0b.e5ba48",
            "ee2e5210.c74be",
            "a78272db.4101",
            "6b89b5b2.f0a36c"
        ],
        "x": 95,
        "y": 100,
        "wires": [
            [
                "ae610c33.f677e",
                "63c8f0b4.21e25",
                "d17bc745.0bec98"
            ]
        ]
    },
    {
        "id": "2c8d12d8.b0796e",
        "type": "function",
        "z": "80bf0eea.5bb39",
        "name": "Detect start",
        "func": "if (msg.payload !== undefined &&\n    msg.payload.indexOf(\"start\") != -1) {\n    return {payload:\"start\"};\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 250,
        "y": 420,
        "wires": [
            [
                "154bd02e.088a5"
            ]
        ]
    },
    {
        "id": "940b3b84.04cd98",
        "type": "function",
        "z": "80bf0eea.5bb39",
        "name": "Stow position",
        "func": "return [[{payload:\"G0 Z260 F3000\"}, // Z+ straight up away from work\n         {payload:\"G0 X10 Y10 F12000\"}, // Stow X and Y\n         {payload:\"G0 Z10 F3000\"}]]; // Stow Z",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 430,
        "y": 540,
        "wires": [
            [
                "1e765a46.a8ecc6"
            ]
        ]
    },
    {
        "id": "41c9f1f3.5d3f9",
        "type": "ui_button",
        "z": "80bf0eea.5bb39",
        "name": "Startup",
        "group": "a516f7a8.528348",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "start",
        "payloadType": "str",
        "topic": "",
        "x": 240,
        "y": 460,
        "wires": [
            [
                "154bd02e.088a5"
            ]
        ]
    },
    {
        "id": "d9511619.4e1c18",
        "type": "ui_button",
        "z": "80bf0eea.5bb39",
        "name": "Stow",
        "group": "a516f7a8.528348",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Stow",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 230,
        "y": 540,
        "wires": [
            [
                "940b3b84.04cd98"
            ]
        ]
    },
    {
        "id": "2a1b1f65.dd4ec",
        "type": "link out",
        "z": "80bf0eea.5bb39",
        "name": "From Printer",
        "links": [
            "29de25b5.fecc9a",
            "4b5f33e8.19b7ac"
        ],
        "x": 395,
        "y": 100,
        "wires": []
    },
    {
        "id": "29de25b5.fecc9a",
        "type": "link in",
        "z": "80bf0eea.5bb39",
        "name": "",
        "links": [
            "2a1b1f65.dd4ec"
        ],
        "x": 95,
        "y": 420,
        "wires": [
            [
                "2c8d12d8.b0796e"
            ]
        ]
    },
    {
        "id": "154bd02e.088a5",
        "type": "function",
        "z": "80bf0eea.5bb39",
        "name": "Startup sequence",
        "func": "if (msg.payload == \"start\") {\n    return [[{payload:\"G28\"},\n             {payload:\"G0 Z130 F3000\"},\n             {payload:\"G0 X120 Y105 F12000\"}]];    \n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 450,
        "y": 440,
        "wires": [
            [
                "1e765a46.a8ecc6"
            ]
        ]
    },
    {
        "id": "1e765a46.a8ecc6",
        "type": "link out",
        "z": "80bf0eea.5bb39",
        "name": "",
        "links": [
            "794a6fd2.8ca1d"
        ],
        "x": 615,
        "y": 480,
        "wires": []
    },
    {
        "id": "247c625f.5f5eee",
        "type": "ui_text",
        "z": "80bf0eea.5bb39",
        "group": "a516f7a8.528348",
        "order": 21,
        "width": 0,
        "height": 0,
        "name": "Response",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "x": 440,
        "y": 160,
        "wires": []
    },
    {
        "id": "63c8f0b4.21e25",
        "type": "ui_text",
        "z": "80bf0eea.5bb39",
        "group": "a516f7a8.528348",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "Command",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 250,
        "y": 160,
        "wires": []
    },
    {
        "id": "2b261cd9.fa35c4",
        "type": "ui_slider",
        "z": "80bf0eea.5bb39",
        "name": "Step size slider",
        "label": "",
        "tooltip": "",
        "group": "a516f7a8.528348",
        "order": 13,
        "width": 1,
        "height": 5,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "-2",
        "max": "1",
        "step": "1",
        "x": 260,
        "y": 620,
        "wires": [
            [
                "6cf1b603.d46338"
            ]
        ]
    },
    {
        "id": "4677361d.ed84d8",
        "type": "ui_text",
        "z": "80bf0eea.5bb39",
        "group": "a516f7a8.528348",
        "order": 15,
        "width": 5,
        "height": 1,
        "name": "Step size output",
        "label": "Step Size",
        "format": "{{msg.payload}}mm",
        "layout": "row-left",
        "x": 680,
        "y": 620,
        "wires": []
    },
    {
        "id": "6cf1b603.d46338",
        "type": "function",
        "z": "80bf0eea.5bb39",
        "name": "Calculate step size",
        "func": "var stepSize = Math.pow(10,msg.payload); \nflow.set(\"stepSize\", stepSize);\nmsg.payload = stepSize;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"stepSize\", 0.1);",
        "finalize": "",
        "x": 470,
        "y": 620,
        "wires": [
            [
                "4677361d.ed84d8"
            ]
        ]
    },
    {
        "id": "13012673.fc653a",
        "type": "ui_button",
        "z": "80bf0eea.5bb39",
        "name": "",
        "group": "a516f7a8.528348",
        "order": 14,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Step Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "+",
        "payloadType": "str",
        "topic": "",
        "x": 240,
        "y": 680,
        "wires": [
            [
                "1b36efd0.facb8"
            ]
        ]
    },
    {
        "id": "e03cb13f.b800b",
        "type": "ui_button",
        "z": "80bf0eea.5bb39",
        "name": "",
        "group": "a516f7a8.528348",
        "order": 18,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Step Down",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "-",
        "payloadType": "str",
        "topic": "",
        "x": 250,
        "y": 720,
        "wires": [
            [
                "1b36efd0.facb8"
            ]
        ]
    },
    {
        "id": "1b36efd0.facb8",
        "type": "function",
        "z": "80bf0eea.5bb39",
        "name": "Step Z",
        "func": "var positionZ = parseFloat(flow.get(\"positionZ\"));\nvar stepSize = parseFloat(flow.get(\"stepSize\"));\nvar feedrate = parseFloat(flow.get(\"feedrate\"));\nvar newZ = positionZ;\n\nif (msg.payload==='+') {\n    newZ += stepSize;\n} else if (msg.payload === '-') {\n    newZ -= stepSize;\n}\n\nreturn {payload:\"G0 Z\"+newZ.toString()+\" F\"+feedrate.toString()};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 430,
        "y": 700,
        "wires": [
            [
                "fef87a0b.e5ba48"
            ]
        ]
    },
    {
        "id": "fef87a0b.e5ba48",
        "type": "link out",
        "z": "80bf0eea.5bb39",
        "name": "",
        "links": [
            "794a6fd2.8ca1d"
        ],
        "x": 595,
        "y": 700,
        "wires": []
    },
    {
        "id": "8ded30d0.b9c27",
        "type": "inject",
        "z": "80bf0eea.5bb39",
        "name": "Initialize",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-1",
        "payloadType": "num",
        "x": 100,
        "y": 620,
        "wires": [
            [
                "2b261cd9.fa35c4"
            ]
        ]
    },
    {
        "id": "d17bc745.0bec98",
        "type": "function",
        "z": "80bf0eea.5bb39",
        "name": "Request position after every move",
        "func": "if (typeof msg.payload == \"string\" &&\n    (msg.payload.indexOf(\"G0 \") === 0 ||\n     msg.payload.indexOf(\"G1 \") === 0)) {\n         return {payload:\"M114\"};\n     }\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 280,
        "wires": [
            [
                "a78272db.4101"
            ]
        ]
    },
    {
        "id": "5af5380d.6cce88",
        "type": "function",
        "z": "80bf0eea.5bb39",
        "name": "Save Z reported by position update",
        "func": "if (msg.payload !== undefined) {\n    var indexZ = msg.payload.indexOf(\"Z:\");\n    var indexE = msg.payload.indexOf(\"E:\");\n    if (indexZ != -1 && indexE != -1) {\n        var positionZ = parseFloat(msg.payload.substring(indexZ+2, indexE));\n        flow.set(\"positionZ\", positionZ);\n    }\n}",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 200,
        "wires": []
    },
    {
        "id": "90036e37.8ba5e",
        "type": "inject",
        "z": "80bf0eea.5bb39",
        "name": "Periodically request position",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "M114",
        "payloadType": "str",
        "x": 300,
        "y": 320,
        "wires": [
            [
                "a78272db.4101"
            ]
        ]
    },
    {
        "id": "a78272db.4101",
        "type": "link out",
        "z": "80bf0eea.5bb39",
        "name": "",
        "links": [
            "794a6fd2.8ca1d"
        ],
        "x": 515,
        "y": 300,
        "wires": []
    },
    {
        "id": "82075d6b.8aad7",
        "type": "ui_slider",
        "z": "80bf0eea.5bb39",
        "name": "Speed slider",
        "label": "",
        "tooltip": "mm/sec",
        "group": "a516f7a8.528348",
        "order": 16,
        "width": 5,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "1",
        "max": "50",
        "step": 1,
        "x": 250,
        "y": 780,
        "wires": [
            [
                "e0816b60.1f0f68"
            ]
        ]
    },
    {
        "id": "cd79d9d2.2c4f28",
        "type": "inject",
        "z": "80bf0eea.5bb39",
        "name": "Initialize",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "25",
        "payloadType": "num",
        "x": 100,
        "y": 780,
        "wires": [
            [
                "82075d6b.8aad7"
            ]
        ]
    },
    {
        "id": "e0816b60.1f0f68",
        "type": "function",
        "z": "80bf0eea.5bb39",
        "name": "Calculate Feedrate",
        "func": "// Slider is in mm/sec, convert to mm/minute\nvar feedrate = msg.payload * 60;\nflow.set(\"feedrate\",feedrate);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 780,
        "wires": [
            [
                "863a7757.ff6bb8"
            ]
        ]
    },
    {
        "id": "863a7757.ff6bb8",
        "type": "ui_text",
        "z": "80bf0eea.5bb39",
        "group": "a516f7a8.528348",
        "order": 17,
        "width": 5,
        "height": 1,
        "name": "Feed rate output",
        "label": "Speed",
        "format": "{{msg.payload}} mm/sec",
        "layout": "row-right",
        "x": 680,
        "y": 780,
        "wires": []
    },
    {
        "id": "9feaa7f3.032658",
        "type": "ui_button",
        "z": "80bf0eea.5bb39",
        "name": "",
        "group": "a516f7a8.528348",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "Set A",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 230,
        "y": 900,
        "wires": [
            [
                "c87e49a3.94ad48"
            ]
        ]
    },
    {
        "id": "c87e49a3.94ad48",
        "type": "function",
        "z": "80bf0eea.5bb39",
        "name": "Store A",
        "func": "var positionZ = parseFloat(flow.get(\"positionZ\"));\nvar feedrate = parseFloat(flow.get(\"feedrate\"));\nvar hold = parseFloat(flow.get(\"hold\"));\n\nflow.set(\"setA\",{positionZ, feedrate, hold});\n\nvar mmsec = feedrate / 60.0;\n\nreturn {payload:positionZ.toString() +\n    \"mm @\" + mmsec.toString() + \n    \"mm/s for \" + hold.toString() + \"s\"};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 900,
        "wires": [
            [
                "8e98bbb2.8a6378"
            ]
        ]
    },
    {
        "id": "8e98bbb2.8a6378",
        "type": "ui_text",
        "z": "80bf0eea.5bb39",
        "group": "a516f7a8.528348",
        "order": 6,
        "width": 5,
        "height": 1,
        "name": "Show A",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 660,
        "y": 900,
        "wires": []
    },
    {
        "id": "8553bd87.e585c",
        "type": "ui_button",
        "z": "80bf0eea.5bb39",
        "name": "",
        "group": "a516f7a8.528348",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "Set B",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 230,
        "y": 940,
        "wires": [
            [
                "71355af6.8b7ca4"
            ]
        ]
    },
    {
        "id": "71355af6.8b7ca4",
        "type": "function",
        "z": "80bf0eea.5bb39",
        "name": "Store B",
        "func": "var positionZ = parseFloat(flow.get(\"positionZ\"));\nvar feedrate = parseFloat(flow.get(\"feedrate\"));\nvar hold = parseFloat(flow.get(\"hold\"));\n\nflow.set(\"setB\",{positionZ, feedrate, hold});\n\nvar mmsec = feedrate / 60.0;\n\nreturn {payload:positionZ.toString() +\n    \"mm @\" + mmsec.toString() + \n    \"mm/s for \" + hold.toString() + \"s\"};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 940,
        "wires": [
            [
                "a61cd4a5.4e7718"
            ]
        ]
    },
    {
        "id": "a61cd4a5.4e7718",
        "type": "ui_text",
        "z": "80bf0eea.5bb39",
        "group": "a516f7a8.528348",
        "order": 8,
        "width": 5,
        "height": 1,
        "name": "Show B",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 660,
        "y": 940,
        "wires": []
    },
    {
        "id": "9a79549b.06e988",
        "type": "ui_switch",
        "z": "80bf0eea.5bb39",
        "name": "",
        "label": "Autocycle",
        "tooltip": "",
        "group": "a516f7a8.528348",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 240,
        "y": 1040,
        "wires": [
            [
                "54a9d753.574d58"
            ]
        ]
    },
    {
        "id": "678506b8.59ac28",
        "type": "inject",
        "z": "80bf0eea.5bb39",
        "name": "Initialize",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 100,
        "y": 1040,
        "wires": [
            [
                "9a79549b.06e988"
            ]
        ]
    },
    {
        "id": "54a9d753.574d58",
        "type": "function",
        "z": "80bf0eea.5bb39",
        "name": "Autocycle state",
        "func": "flow.set(\"autocycle\", msg.payload);",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 1040,
        "wires": []
    },
    {
        "id": "33788801.750838",
        "type": "inject",
        "z": "80bf0eea.5bb39",
        "name": "Cycle",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 1100,
        "wires": [
            [
                "81a1b9e9.bf9b98"
            ]
        ]
    },
    {
        "id": "81a1b9e9.bf9b98",
        "type": "function",
        "z": "80bf0eea.5bb39",
        "name": "Autocycle",
        "func": "if (flow.get(\"autocycle\")) {\n    var positionZ = flow.get(\"positionZ\");\n    var setA = flow.get(\"setA\");\n    var setB = flow.get(\"setB\");\n    \n    var lastMove = context.get(\"lastMove\");\n    var target = null;\n\n    if (lastMove === undefined) {\n        // First move - go to A.\n        target = setA;\n    } else {\n        if (positionZ != setA.positionZ) {\n            if (Date.now() - lastMove > setB.hold * 1000) {\n                target = setA;\n            }\n        } else {\n            if (Date.now() - lastMove > setA.hold * 1000) {\n                target = setB;\n            }\n        }\n    }\n\n    if (target !== null) {\n        context.set(\"lastMove\", Date.now());\n        return {payload:\"G0 Z\"+target.positionZ.toString()+\" F\"+target.feedrate.toString()};\n    }\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 240,
        "y": 1100,
        "wires": [
            [
                "6b89b5b2.f0a36c"
            ]
        ]
    },
    {
        "id": "6b89b5b2.f0a36c",
        "type": "link out",
        "z": "80bf0eea.5bb39",
        "name": "",
        "links": [
            "794a6fd2.8ca1d"
        ],
        "x": 395,
        "y": 1100,
        "wires": []
    },
    {
        "id": "bf68d2aa.c1ef2",
        "type": "comment",
        "z": "80bf0eea.5bb39",
        "name": "Global printer control",
        "info": "This section includes the actual serial I/O module to communicate with the printer, alongside several items that are global to printer communication and not specific to any single function.\n\nVirtual wires are used to allow other components to communicate with the printer without having wires criscrossing the entire flow like spaghetti.",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "192d3b9c.7f4074",
        "type": "comment",
        "z": "80bf0eea.5bb39",
        "name": "Startup and shutdown",
        "info": "This section handles the startup and shutdown procedures.\n\nUpon startup the printer emits \"start\" and when this is seen, we launch into the homing cycle and move to the standard startup position roughly in the center of addressible space.\n\nThe user can also command the same start up procedure by pressing a button on the UI.\n\nThere's an associated button to put the device into a \"stow\" position close to the homing position. The benefit of doing this is to speed up the homing cycle upon next restart.",
        "x": 120,
        "y": 380,
        "wires": []
    },
    {
        "id": "3579c527.43849a",
        "type": "comment",
        "z": "80bf0eea.5bb39",
        "name": "Step size, direction, and speed",
        "info": "This section has the UI for controlling steps along the Z axis.\nThe vertical slider lets the user specify size of each step\nThe horizontal slider lets the user specify the speed for making that move.\nA button moves +Z with the selected step size at the selected speed, the other button moves -Z.",
        "x": 150,
        "y": 580,
        "wires": []
    },
    {
        "id": "9df4ff63.a23af",
        "type": "comment",
        "z": "80bf0eea.5bb39",
        "name": "Auto cycling between two preset positions",
        "info": "Code to move between two set points at regular intervals.\nSet A and B buttons record the current Z location as well as the speed used to approach that location.\nAn on/off switch toggles automatic cycling.\nEvery second we check to see if the desired interval has passed and, if so, initiate move to the other position.",
        "x": 180,
        "y": 860,
        "wires": []
    },
    {
        "id": "b7a1103e.a15b2",
        "type": "ui_slider",
        "z": "80bf0eea.5bb39",
        "name": "Hold time",
        "label": "Hold",
        "tooltip": "seconds",
        "group": "a516f7a8.528348",
        "order": 9,
        "width": 5,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "1",
        "max": "30",
        "step": 1,
        "x": 240,
        "y": 980,
        "wires": [
            [
                "b491a73d.d42918"
            ]
        ]
    },
    {
        "id": "b491a73d.d42918",
        "type": "function",
        "z": "80bf0eea.5bb39",
        "name": "Store hold",
        "func": "flow.set(\"hold\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 450,
        "y": 980,
        "wires": [
            [
                "40c68c88.abadd4"
            ]
        ]
    },
    {
        "id": "40c68c88.abadd4",
        "type": "ui_text",
        "z": "80bf0eea.5bb39",
        "group": "a516f7a8.528348",
        "order": 10,
        "width": 1,
        "height": 1,
        "name": "Show hold",
        "label": "",
        "format": "{{msg.payload}}s",
        "layout": "row-spread",
        "x": 670,
        "y": 980,
        "wires": []
    },
    {
        "id": "6801c739.452ba8",
        "type": "inject",
        "z": "80bf0eea.5bb39",
        "name": "Initialize",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 100,
        "y": 980,
        "wires": [
            [
                "b7a1103e.a15b2"
            ]
        ]
    },
    {
        "id": "21ea7a13.386126",
        "type": "serial in",
        "z": "696245ab.45568c",
        "name": "Load Cell 2",
        "serial": "15af2513.f48cdb",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "9236e3dd.32b8d"
            ]
        ]
    },
    {
        "id": "5dbed029.4cd52",
        "type": "ui_chart",
        "z": "696245ab.45568c",
        "name": "Load cell",
        "group": "b441edb7.9f6b4",
        "order": 1,
        "width": 18,
        "height": "6",
        "label": "Load cell",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 560,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "9236e3dd.32b8d",
        "type": "function",
        "z": "696245ab.45568c",
        "name": "Process raw message",
        "func": "if (msg.payload.indexOf(\"HX711 not found.\") === 0) {\n    node.status({fill:\"red\", shape:\"ring\", text:\"HX711 absent\"});\n    return null;\n}\n\nvar raw = parseFloat(msg.payload);\nmsg.payload = raw;\nif (raw > -420000 || raw < -700000) {\n    // Discard values well outside observed normal range\n    node.status({fill:\"yellow\", shape:\"ring\", text:\"Rejected data\"});\n    return [null, msg];\n} else {\n    node.status({fill:\"green\", shape:\"dot\", text:\"Receiving data\"});\n    return [msg, null];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 100,
        "wires": [
            [
                "5dbed029.4cd52"
            ],
            [
                "7364337a.656a9c"
            ]
        ],
        "outputLabels": [
            "data",
            "rejected"
        ]
    },
    {
        "id": "7364337a.656a9c",
        "type": "debug",
        "z": "696245ab.45568c",
        "name": "Rejected",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "972172ed.50848",
        "type": "ui_button",
        "z": "80bf0eea.5bb39",
        "name": "",
        "group": "a516f7a8.528348",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "G0 Z260 F3000",
        "payloadType": "str",
        "topic": "",
        "x": 230,
        "y": 500,
        "wires": [
            [
                "1e765a46.a8ecc6"
            ]
        ]
    },
    {
        "id": "86d20cc5.a7ac9",
        "type": "serial in",
        "z": "1e5ffd1.6f9ac03",
        "name": "Mitutoyo Indicator",
        "serial": "bce2382.dc8b5c8",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "481fa6b4.9180d8"
            ]
        ]
    },
    {
        "id": "481fa6b4.9180d8",
        "type": "function",
        "z": "1e5ffd1.6f9ac03",
        "name": "Parse hex output",
        "func": "var strHex = msg.payload;\nvar reading = 0;\nvar unit = \"?\";\n\n// Verify payload type\nif (typeof(strHex) != \"string\") {\n    node.status({fill:\"red\", shape:\"ring\", text:\"Nonstring input\"});\n    return null;\n}\n\n// Verify header\nif (strHex.substring(0,4) != \"FFFF\") {\n    node.status({fill:\"red\", shape:\"ring\", text:\"Bad header\"});\n    return null;\n}\n\n// Read digits\nreading = parseInt(strHex.substring(5,11));\nif (isNaN(reading)) {\n    node.status({fill:\"red\", shape:\"ring\", text:\"Bad digits\"});\n    return null;\n}\n\n// Read sign\nif (strHex[4] === '8') {\n    reading *= -1;\n} else if (strHex[4] != '0') {\n    node.status({fill:\"red\", shape:\"ring\", text:\"Invalid sign\"});\n    return null;\n}\n\n// Move decimal point\nreading /= Math.pow(10, parseInt(strHex[11]));\n\n// Extract units\nif (strHex[12] === '0') {\n    unit = \"mm\";\n} else if (strHex[12] === '1') {\n    unit = \"in\";\n} else {\n    node.status({fill:\"red\", shape:\"ring\", text:\"Invalid units\"});\n    return null;\n}\n\nnode.status({fill:\"green\", shape:\"dot\", text:\"Data OK\"});\n\nmsg = [{topic:\"Mitutoyo\", payload:reading}, {payload:unit}];\n\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 60,
        "wires": [
            [
                "ec825644.b2b428"
            ],
            []
        ],
        "outputLabels": [
            "reading",
            "unit"
        ]
    },
    {
        "id": "ec825644.b2b428",
        "type": "ui_chart",
        "z": "1e5ffd1.6f9ac03",
        "name": "",
        "group": "b441edb7.9f6b4",
        "order": 1,
        "width": 18,
        "height": "6",
        "label": "Indicators",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 740,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "552c83e4.0d163c",
        "type": "serial request",
        "z": "1e5ffd1.6f9ac03",
        "name": "Fowler",
        "serial": "5125c8d1.85d708",
        "x": 350,
        "y": 240,
        "wires": [
            [
                "b035a831.0086e8"
            ]
        ]
    },
    {
        "id": "98937a42.e352c8",
        "type": "inject",
        "z": "1e5ffd1.6f9ac03",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "?",
        "payloadType": "str",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "552c83e4.0d163c"
            ]
        ]
    },
    {
        "id": "f895b46a.5bc0a8",
        "type": "inject",
        "z": "1e5ffd1.6f9ac03",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "UNI?",
        "payloadType": "str",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "552c83e4.0d163c"
            ]
        ]
    },
    {
        "id": "883455d0.dd2328",
        "type": "inject",
        "z": "1e5ffd1.6f9ac03",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "CHA?",
        "payloadType": "str",
        "x": 120,
        "y": 420,
        "wires": [
            [
                "552c83e4.0d163c"
            ]
        ]
    },
    {
        "id": "a80ae1b1.ae661",
        "type": "inject",
        "z": "1e5ffd1.6f9ac03",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "CHA+",
        "payloadType": "str",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "552c83e4.0d163c"
            ]
        ]
    },
    {
        "id": "4327bec6.ef0d6",
        "type": "inject",
        "z": "1e5ffd1.6f9ac03",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "CHA-",
        "payloadType": "str",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "552c83e4.0d163c"
            ]
        ]
    },
    {
        "id": "2d23838c.f02f6c",
        "type": "inject",
        "z": "1e5ffd1.6f9ac03",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SET",
        "payloadType": "str",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "552c83e4.0d163c"
            ]
        ]
    },
    {
        "id": "ec9a5905.500c28",
        "type": "inject",
        "z": "1e5ffd1.6f9ac03",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "BAT?",
        "payloadType": "str",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "552c83e4.0d163c"
            ]
        ]
    },
    {
        "id": "a07010c3.f2e54",
        "type": "inject",
        "z": "1e5ffd1.6f9ac03",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "IN",
        "payloadType": "str",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "552c83e4.0d163c"
            ]
        ]
    },
    {
        "id": "81db28a.e79c6d8",
        "type": "inject",
        "z": "1e5ffd1.6f9ac03",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "MM",
        "payloadType": "str",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "552c83e4.0d163c"
            ]
        ]
    },
    {
        "id": "b035a831.0086e8",
        "type": "function",
        "z": "1e5ffd1.6f9ac03",
        "name": "parseFloat",
        "func": "msg.payload = parseFloat(msg.payload);\nmsg.topic = \"Fowler\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 240,
        "wires": [
            [
                "ec825644.b2b428"
            ]
        ]
    }
]